<header class="primary-header-container mat-elevation-z8" [ngClass]="{'scrolled' : is_page_scrolled}">
    <div class="primary-header row justify-content-center">
        <div class="col-12 col-sm-10 d-flex justify-content-between align-items-center">
            <span class="brand-name">
                Work Orders Manager
            </span>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs style="padding-top: 10px;">
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="accountMenu">
                <mat-icon>account_circle</mat-icon>
            </button>

            <mat-menu #accountMenu="matMenu">
                <button mat-menu-item routerLink="/search">
                  <mat-icon>home</mat-icon>
                  <span>Home</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>backup</mat-icon>
                  <span>Import</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span>Sign out</span>
                </button>
              </mat-menu>
        </div>
    </div>
    <div class="primary-navigation row justify-content-center">
        <nav mat-tab-nav-bar role="tablist" aria-labelledby="primary-navigation">
            <a mat-tab-link role="tab" routerLink="/search" routerLinkActive #rla_search="routerLinkActive"
                [active]="rla_search.isActive">Search work orders</a>
            <a mat-tab-link role="tab" routerLink="/new" routerLinkActive #rla_new_order="routerLinkActive"
                [active]="rla_new_order.isActive">Create work order</a>
            <a mat-tab-link role="tab" routerLink="/history" routerLinkActive #rla_order_history="routerLinkActive"
                [active]="rla_order_history.isActive">Work order history</a>
        </nav>
    </div>
</header>