<form #orderForm="ngForm">
    <div class="custom-mat-form-field">
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>
                        Date

                    </mat-label>
                    <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="orderDate" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>
                        Order status
                    </mat-label>
                    <mat-select name="status" [(ngModel)]="currentStatus" required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let status of statuses" [value]="status.key">
                            {{status.value}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>
                        Responsible
                    </mat-label>
                    <mat-select [(ngModel)]="currentAssignee" name="assignee" required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let user of users" [value]="user.key">{{user.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>
                        Line
                    </mat-label>
                    <mat-select [(ngModel)]="currentLine" name="line" required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let line of lines" [value]="line.key">{{line.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>
                        Area
                    </mat-label>
                    <mat-select [(ngModel)]="currentArea" name="area" required [disabled]="!currentLine">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let area of areas" [value]="area.key">{{area.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>
                        Department
                    </mat-label>
                    <mat-select [(ngModel)]="currentDept" name="department" required [disabled]="!currentArea">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let dept of depts" [value]="dept.key">{{dept.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>
                        Equibment
                    </mat-label>
                    <mat-select [(ngModel)]="currentMachine" name="machine" required [disabled]="!currentDept">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let machine of machines" [value]="machine.key">
                            {{machine.value}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
    </div>
    <div class="row">
        <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Description:</mat-label>
            <textarea rows="8" class="form-control" matInput placeholder="Type description" [(ngModel)]="description"
                #descr="ngModel" name="description"></textarea>
        </mat-form-field>
    </div>
</form>