<form #orderForm="ngForm">
    <div style="display: flex; flex-direction:row">
        <div style="width: 50%;">
            <table>                
                <tr>
                    <td>
                        Date:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="orderDate" required>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                    </td>
                    <td>
                        Description:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <input class="form-control" matInput placeholder="Type description"
                                [(ngModel)]="description" #descr="ngModel" name="description" required />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Status: </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select status</mat-label>
                            <mat-select name="status" [(ngModel)]="currentStatus" required>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let status of statuses" [value]="status.key">
                                    {{status.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>Responsible:</td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select assignee</mat-label>
                            <mat-select [(ngModel)]="currentAssignee" name="assignee" required>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let user of users" [value]="user.key">{{user.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        line:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select line</mat-label>
                            <mat-select [(ngModel)]="currentLine" name="line" required>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let line of lines" [value]="line.key">{{line.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td *ngIf="currentLine">
                        Area:
                    </td>
                    <td *ngIf="currentLine">
                        <mat-form-field appearance="fill">
                            <mat-label>Select area</mat-label>
                            <mat-select [(ngModel)]="currentArea" name="area" required>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let area of areas" [value]="area.key">{{area.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td *ngIf="currentArea">
                        Department:
                    </td>
                    <td *ngIf="currentArea">
                        <mat-form-field appearance="fill">
                            <mat-label>Select department</mat-label>
                            <mat-select [(ngModel)]="currentDept" name="department" required>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let dept of depts" [value]="dept.key">{{dept.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td *ngIf="currentDept">
                        Equipment:
                    </td>
                    <td *ngIf="currentDept">
                        <mat-form-field appearance="fill">
                            <mat-label>Select equipment</mat-label>
                            <mat-select [(ngModel)]="currentMachine" name="machine" required>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let machine of machines" [value]="machine.key">
                                    {{machine.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>