<form #orderForm="ngForm">
    <div style="display: flex; flex-direction:row">
        <div style="width: 50%;">
            <table>
                <tr>
                    <td>
                        Date:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" (dateChange)="orderDateChanged($event)"
                                [value]="orderDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        Description:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <input matInput placeholder="Type description" [(ngModel)]="description"
                                name="description" />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Status: </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select status</mat-label>
                            <mat-select [(value)]="currentStatus" name="status">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let status of statuses" [value]="status.key">
                                    {{status.value}}</mat-option>

                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>Responsible:</td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select assignee</mat-label>
                            <mat-select [(value)]="currentAssignee" name="assignee">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let user of users" [value]="user.key">{{user.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        line:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select line</mat-label>
                            <mat-select [(value)]="currentLine" name="line">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let line of lines" [value]="line.key">{{line.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td>
                        Area:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select area</mat-label>
                            <mat-select [(value)]="currentArea" name="area">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let area of areas" [value]="area.key">{{area.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        Department:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select department</mat-label>
                            <mat-select [(value)]="currentDept" name="department">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let dept of depts" [value]="dept.key">{{dept.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td>
                        Equipment:
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select equipment</mat-label>
                            <mat-select [(value)]="currentMachine" name="machine">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let machine of machines" [value]="machine.key">
                                    {{machine.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>