<mat-card class="card">
  <mat-card-content>
    <div class="custom-mat-form-field">
      <div class="row">
        <div class="column">
          <mat-form-field appearance="fill">
            <mat-label>
              W.O              
            </mat-label>
            <input matInput placeholder="Type Order number" [(ngModel)]="orderNumber" name="orderNumber" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              Date              
            </mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="from" [(ngModel)]="orderDateFrom">
              <input matEndDate placeholder="to" [(ngModel)]="orderDateTo">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              Desription              
            </mat-label>
            <input matInput placeholder="Type description" [(ngModel)]="description" name="description" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              Order status              
            </mat-label>
            <mat-select [(value)]="currentStatus" name="status">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let status of statuses" [value]="status.key">
                {{status.value}}</mat-option>

            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              Responsible              
            </mat-label>
            <mat-select [(value)]="currentAssignee" name="assignee">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let user of users" [value]="user.key">{{user.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>
              Line              
            </mat-label>
            <mat-select [(value)]="currentLine" name="line">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let line of lines" [value]="line.key">{{line.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              Area              
            </mat-label>
            <mat-select [(value)]="currentArea" name="area" [disabled]="!currentLine">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let area of areas" [value]="area.key">{{area.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>
              Department              
            </mat-label>
            <mat-select [(value)]="currentDept" name="department" [disabled]="!currentArea">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let dept of depts" [value]="dept.key">{{dept.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>



          <mat-form-field appearance="fill">
            <mat-label>
              Equibment              
            </mat-label>
            <mat-select [(value)]="currentMachine" name="machine" [disabled]="!currentDept">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let machine of machines" [value]="machine.key">
                {{machine.value}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="flex-end">
    <button class="mat-raised-button mat-warn" mat-button (click)="clearFilters()">
      <mat-icon>restart_alt</mat-icon>Clear
    </button>
    <button class="mat-raised-button mat-primary" mat-button cdkFocusInitial (click)="searchOrders()">
      <mat-icon>search</mat-icon>Search
    </button>
  </mat-card-actions>
</mat-card>