<div class="row">
    <mat-card class="card">
        <mat-card-title>
            <mat-icon>drive_file_rename_outline</mat-icon> Create work order
        </mat-card-title>
        <mat-card-content>
            <app-order-properties [currentStatus]="'FYI'"></app-order-properties>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="flex-end">
            <button class="mat-raised-button mat-warn" mat-button (click)="cancel()">
                <mat-icon>cancel</mat-icon> Cancel
            </button>
            <button class="mat-raised-button mat-primary" mat-button cdkFocusInitial type="button"
                [disabled]="!canSubmit()" (click)="submit()">
                <mat-icon>task_alt</mat-icon>Save
            </button>
        </mat-card-actions>
    </mat-card>
</div>