<div class="file-uploader">
    <div class="file-uploader__instructions">
        Work order create successfully! Click on "Browse Files" to attach files to this work order.
    </div>
    <div class="files-for-upload">
        <mat-expansion-panel *ngFor="let selected_file of selectedFiles; index as i" class="selected-file" hideToggle
            disabled expanded="{{!!selected_file.uploadResult}}">
            <mat-expansion-panel-header>
                <div class="selected-file__header">
                    <div class="selected-file__name">
                        {{selected_file.file.name}}
                    </div>
                    <div class="selected-file__actions">
                        <button matRipple class="selected_file__upload primary-button" matTooltip="Upload"
                            matTooltipPosition="left" aria-label="Upload File" (click)="uploadFile(i)"
                            [disabled]="selected_file.isUploadInProgress || selected_file.uploadResult=='success'">
                            <mat-icon *ngIf="selected_file.uploadResult!='success'" aria-hidden="true">file_upload
                            </mat-icon>
                            <mat-icon *ngIf="selected_file.uploadResult=='success'">check</mat-icon>
                        </button>
                        <button matRipple class="selected_file__cancel secondary-button" matTooltip="Cancel"
                            [disabled]="isUploadInProgress() || selected_file.uploadResult=='success'"
                            matTooltipPosition="right" aria-label="Cancel File" (click)="cancelFile(i)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-progress-bar *ngIf="selected_file.isUploadInProgress" mode="indeterminate"></mat-progress-bar>
            </mat-expansion-panel-header>
            <div *ngIf="selected_file.uploadResult=='success'" class="selected-file__upload-result">
                The file was uploaded successfully.
            </div>
            <div *ngIf="!!selected_file.uploadResult && selected_file.uploadResult!='success'"
                class="selected-file__upload--error">
                {{selected_file.uploadResult}}
            </div>
        </mat-expansion-panel>
    </div>
    <div class="file-upload__options">
        <form class="file-upload__native-selection" [formGroup]="fileSelectionForm">
            <input type="file" #fileSelector formControlName="file_selection" multiple="true">
        </form>
        <button matRipple class="file-upload__browse primary-button" (click)="openFileSelector()">
            Browse Files
        </button>
        <ng-container *ngIf="selectedFiles.length>1">
            <button matRipple class="all_file__upload primary-button" matTooltip="upload all" matTooltipPosition="above"
                aria-label="Attach All Files" (click)="uploadAll()" [disabled]="!isAnyFileNotUploaded()">
                <mat-icon>file_upload</mat-icon>
            </button>
        </ng-container>
    </div>
</div>