<div class="row">
    <mat-card class="card">
        <mat-card-title>
            <mat-icon>drive_file_rename_outline</mat-icon> change order #{{orderNumber}}
        </mat-card-title>        
        <mat-card-content>
            <app-order-properties [currentArea]="currentArea" [currentAssignee]="currentAssignee"
                [currentDept]="currentDept" [currentLine]="currentLine" [currentMachine]="currentMachine"
                [currentStatus]="currentStatus" [description]="description" [orderDate]="orderDate"
                [orderNumber]="orderNumber"></app-order-properties>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="flex-end">
            <button class="mat-raised-button mat-warn" mat-button (click)="cancel()">
                <mat-icon>cancel</mat-icon> Cancel
            </button>
            <button class="mat-raised-button mat-primary" mat-button cdkFocusInitial type="button"
                [disabled]="!canSubmit()" (click)="submit()">
                <mat-icon>beenhere</mat-icon>Save
            </button>
            <button class="mat-raised-button " mat-button (click)="releaseOrder()">Release</button>
        </mat-card-actions>
    </mat-card>
</div>