<div class="row">
    <div class="column" #propertiesContainerElementRef>
        <mat-card class="card">
            <mat-card-title>
                <mat-icon>drive_file_rename_outline</mat-icon> change order #{{orderNumber}}
            </mat-card-title>
            <mat-card-content>
                <app-order-properties [currentArea]="currentArea" [currentAssignee]="currentAssignee"
                    [currentDept]="currentDept" [currentLine]="currentLine" [currentMachine]="currentMachine"
                    [currentStatus]="currentStatus" [description]="description" [orderDate]="orderDate"
                    [orderNumber]="orderNumber"></app-order-properties>
            </mat-card-content>
            <mat-card-actions>
                <div style="display: flex;justify-content: space-around;">
                    <div>
                        <button [disabled]="isSaving" class="mat-raised-button mat-primary" mat-button cdkFocusInitial
                            type="button" (click)="uploadFiles()">
                            <mat-icon>file_upload</mat-icon> attach files
                        </button>
                        <button
                            [disabled]="isSaving || (workOrderModel.status!=='PEX' && workOrderModel.status!=='PPR')"
                            class="mat-raised-button " mat-button (click)="releaseOrder()">Release</button>
                    </div>
                    <div>
                        <button [disabled]="isSaving" class="mat-raised-button mat-warn" mat-button (click)="cancel()">
                            <mat-icon>cancel</mat-icon> Cancel
                        </button>
                        <button class="mat-raised-button mat-primary" mat-button cdkFocusInitial type="button"
                            [disabled]="!canSubmit()" (click)="submit()">
                            <mat-icon>task_alt</mat-icon> Save
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column">
        <app-image-viewer [orderUuid]="orderUuid" [imageHeight]="propertiesCardHeight">
        </app-image-viewer>
    </div>
</div>