<mat-card class="card">
    <mat-card-title>
        <mat-icon>travel_explore</mat-icon>Search orders        
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <app-order-filters (filtersChanged)='onFiltersChanged($event)'></app-order-filters>
        </div>
        <div class="row">
            <app-orders-list [isLoading]="isLoading" (pagingSortingChanged)='onPagingSortingChanged($event)'
                (removeOrderRequest)="onRemoveWorkOrder($event)"></app-orders-list>
        </div>
    </mat-card-content>
</mat-card>