<mat-card class="card">
    <mat-card-title>
        <mat-icon>travel_explore</mat-icon>Search orders
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="column" #filtersContainerElementRef>
                <app-order-filters (filtersChanged)='onFiltersChanged($event)'></app-order-filters>
            </div>
            <div class="column">
                <app-image-viewer [orderUuid]="selectedWorkOrderUuid" [imageHeight]="filtersCardHeight">
                </app-image-viewer>
            </div>
        </div>
        <div class="row">
            <app-orders-list [isLoading]="isLoading" (pagingSortingChanged)='onPagingSortingChanged($event)'
                (removeOrderRequest)="onRemoveWorkOrder($event)"
                (selectedOrderChanged)="onSelectedOrderChanged($event)"></app-orders-list>
        </div>
    </mat-card-content>
</mat-card>